<div class="container-fluid">
  <app-sidebar></app-sidebar>
   <div class="content">
    <app-header></app-header>
      <div class="info">
        <div class="card">
            <div class="card-header">
              Update Mission
            </div>
            <div class="card-body">
              <form *ngIf="editMissionForm" [formGroup]="editMissionForm">
                <div>
                  <div>
                    <div class="row">
                      <input type="hidden" formControlName="id">
                      <div class="col-sm-6">
                          <label class="col-form-label">Country</label>
                          <select class="form-select" (change)="CityList($event)" formControlName="countryId">
                            <option *ngFor="let item of countryList" value="{{item.value}}">  {{item.text}}</option>
                          </select>
                          <span class="text-danger" *ngIf="countryId.invalid && (countryId.touched || formValid)">
                            Please Select Country
                          </span>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">City</label>
                        <select class="form-select" formControlName="cityId">
                          <option *ngFor="let item of cityList" value="{{item.value}}">{{item.text}}</option>
                        </select>
                        <span class="text-danger" *ngIf="cityId.invalid && (cityId.touched || formValid)">
                          Please Select City
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Mission Title</label>
                        <input type="text" class="form-control" formControlName="missionTitle" placeholder="Enter mission title">
                        <span class="text-danger" *ngIf="missionTitle.invalid && (missionTitle.touched || formValid)">
                          Please Enter Mission Title
                        </span>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Mission Organisation Name</label>
                        <input type="text" class="form-control" formControlName="missionOrganisationName" placeholder="Enter mission organisation name">
                        <span class="text-danger" *ngIf="missionOrganisationName.invalid && (missionOrganisationName.touched || formValid)">
                          Please Enter Mission Organisation Name
                        </span>
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Mission Description</label>
                        <textarea class="form-control" row="3" placeholder="Enter your message" formControlName="missionDescription"></textarea>
                        <span class="text-danger" *ngIf="missionDescription.invalid && (missionDescription.touched || formValid)">
                          Please Enter Mission Description
                        </span>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Mission Organisation Detail</label>
                        <textarea class="form-control" formControlName="missionOrganisationDetail" row="3" placeholder="Enter your message"></textarea>
                        <span class="text-danger" *ngIf="missionOrganisationDetail.invalid && (missionOrganisationDetail.touched || formValid)">
                          Please Enter Mission Organisation Detail
                        </span>
                      </div>
                     </div>
                     <div class="row">
                          <div class="col-sm-6">
                            <label class="col-form-label">Start Date</label>
                            <!-- <input type="text" placeholder="Select StartDate" formControlName="startDate" class="form-control" bsDatepicker [bsConfig]="{isAnimated: true,containerClass:'theme-dark-blue',dateInputFormat:'DD-MM-YYYY',showWeekNumbers:false}"> -->
                            <input type="date" placeholder="Select StartDate" formControlName="startDate" class="form-control">
                            <span class="text-danger" *ngIf="startDate.invalid && (startDate.touched || formValid)">
                              Please Select StartDate
                            </span>
                          </div>
                          <div class="col-sm-6">
                            <label class="col-form-label">End Date</label>
                            <!-- <input type="text" placeholder="Select EndDate"  formControlName="endDate" class="form-control" bsDatepicker [bsConfig]="{isAnimated: true,containerClass:'theme-dark-blue',dateInputFormat:'DD-MM-YYYY',showWeekNumbers:false}"> -->
                            <input type="date" placeholder="Select EndDate" formControlName="endDate" class="form-control">
                            <span class="text-danger" *ngIf="endDate.invalid && (endDate.touched || formValid)">
                              Please Select EndDate
                            </span>
                          </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                          <label class="col-form-label">Total seats</label>
                          <input type="number" class="form-control" placeholder="Enter total seets" formControlName="totalSheets">
                          <span class="text-danger" *ngIf="totalSheets.invalid && (totalSheets.touched || formValid)">
                            Please Enter Total Sheets
                          </span>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Mission registration deadline</label>
                          <input type="date" class="form-control" placeholder="Enter mission registration deadline" formControlName="registrationDeadLine">
                          <span class="text-danger" *ngIf="registrationDeadLine.invalid && (registrationDeadLine.touched || formValid)">
                            Please Enter Mission Registration DeadLine
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label">Mission Theme</label>
                            <select class="form-select" formControlName="missionTheme">
                              <option *ngFor="let item of missionThemes" value="{{item}}">{{item}}</option>
                            </select>
                            <span class="text-danger" *ngIf="missionTheme.invalid && (missionTheme.touched || formValid)">
                              Please Select Mission Theme
                            </span>
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Mission Skills</label>
                          <select class="form-select" formControlName="missionSkill">
                            <option *ngFor="let item of missionSkills" value="{{item}}">{{item}}</option>
                          </select>
                          <span class="text-danger" *ngIf="missionSkill.invalid && (missionSkill.touched || formValid)">
                            Please Select Mission SKill
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <label class="col-form-label">Mission Images</label>
                          <div class="dropZone">
                                <div class="text-wrapper">
                                  <div style="text-align: center;">
                                      <img src="assets/Img/drag-and-drop.png" alt="No Image"  (click)="selectImage.click()" style="cursor: pointer;">
                                      <input type="file" class="form-control" #selectImage style="display: none;" formControlName="missionImages" (change)="OnSelectedImage($event)">
                                    </div>
                                  </div>
                          </div>
                          <span class="text-danger" *ngIf="missionImages.invalid && (missionImages.touched || formValid)">
                            Please Select Image
                          </span>
                        </div>
                        <div class="col-sm-2 pt-4">
                          <img src="{{imageUrl}}" style="max-width: 250px;max-height: 150px;" onerror="this.src='assets/NoImg.png'" alt="" class="img-thumbnail position-relative">
                        </div>
                        <div class="col-sm-6">
                          <label class="col-form-label">Mission Document</label>
                          <div class="dropZone">
                                <div class="text-wrapper">
                                  <div style="text-align: center;">
                                      <img src="assets/Img/drag-and-drop.png" alt="No Image"  (click)="selectFile.click()" style="cursor: pointer;">
                                      <input type="file" class="form-control" #selectFile style="display: none;" multiple formControlName="missionDocuments">
                                    </div>
                                  </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label class="col-form-label">Mission Avilability</label>
                          <select class="form-select" formControlName="missionAvilability">
                            <option *ngFor="let item of missionAvilabilitys" value="{{item}}">{{item}}</option>
                          </select>
                          <span class="text-danger" *ngIf="missionAvilability.invalid && (missionAvilability.touched || formValid)">
                            Please Select Mission Avilability
                          </span>
                        </div>
                      </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="row justify-content-end mt-4">
          <button class="btnCancel" (click)="OnCancel()" ><span class="cancel">Cancel</span></button>
          <button class="btnSave" (click)="OnSubmit()"><span class="save">Save</span></button>
        </div>
       <div>
       </div>
     </div>
   </div>
 </div>

